<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SKILLS LOGISTICS</title>
  <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="css/sb-admin.css" rel="stylesheet">
  <link href="js/jquery/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
  <script type="text/javascript" src="js/jquery/jquery-3.3.1/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="js/jquery/jquery-ui-1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="js/bootstrap/bootstrap.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">
      <img src="images/logo.png" alt="logo">
    </a>
    <!-- header-menu -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="col-12 text-right" style="color: #fff">
        [아이디 : admin@admin.com] / [회원구분 : 고객사]
      </div>
    </div>
  </nav>

  <!-- navigation -->
  <div class="navigation">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="로그인">
          <a class="nav-link" href="login.html">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">로그인</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="회원가입">
          <a class="nav-link" href="join.html">
            <i class="fa fa-fw fa-sign-in"></i>
            <span class="nav-link-text">회원가입</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="물류배송신청">
          <a class="nav-link" href="contract.html">
            <i class="fa fa-fw fa-pencil-square-o"></i>
            <span class="nav-link-text">물류배송신청</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="물류배송추적">
          <a class="nav-link" href="delivery.html">
            <i class="fa fa-fw fa-truck"></i>
            <span class="nav-link-text">물류배송추적</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="지입차량주POS">
          <a class="nav-link" href="manager.html">
            <i class="fa fa-fw fa-th-large"></i>
            <span class="nav-link-text">지입차량주POS</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="관리자POS">
          <a class="nav-link" href="adminpos.html">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">관리자POS</span>
          </a>
        </li>
      </ul>
  </div>

  <div class="content-wrapper">
    <div class="container-fluid p-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">홈</a>
        </li>
        <li class="breadcrumb-item active">관리자POS</li>
      </ol>
    
      <!-- content-start -->
      
      <style type="text/css">
        .tableCu{ width: auto; text-align: center; }
        .tableCu td{ border: #dfdfdf solid 1px; width: 60px; height: 60px; }
        .tdYellow { background: yellow; border: 0 !important}
        .last { border-right: yellow solid 1px !important; }
        .tdBlue { background: blue; border: 0 !important; color: #fff}
        .tdRed { background: red; }
      </style>
      <table class="tableCu mx-auto">
        <tr>
          <td class="tdYellow">

          </td>
          <td class="tdBlue">
             서울
          </td>
          <td class="tdBlue">
             경기 
          </td>
          <td class="tdBlue">
             강원
          </td>
          <td class="tdBlue">
             충북
          </td>
          <td class="tdBlue">
             충남
          </td>
          <td class="tdBlue">
             대전
          </td>
          <td class="tdBlue">
             경남
          </td>
          <td class="tdBlue">
             경북
          </td>
          <td class="tdBlue">
             전남
          </td>
          <td class="tdBlue">
             전북
          </td>
          <td class="tdBlue">
             <strong>도착지</strong>
             <p class="m-0">▲</p>
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             서울
          </td>
          <td class="tdRed">
             0km 
          </td>
          <td>
             
          </td>
          <td>
             
          </td>
          <td>
             
          </td>
          <td>
           
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
             
          </td>
          <td>
             
          </td>
          <td class="tdBlue">
            
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             경기
          </td>
          <td>
            
          </td>
          <td class="tdRed">
             0km 
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td class="tdBlue">
            
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             강원
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td class="tdRed">
             0km 
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td class="tdBlue">
             
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             충북 
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td class="tdRed">
             0km 
          </td>
          <td>
             
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td class="tdBlue">
            
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             충남
          </td>
          <td>
          
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td class="tdRed">
             0km 
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
           
          </td>
          <td>
           
          </td>
          <td class="tdBlue">
            
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             대전 
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td class="tdRed">
             0km 
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
           
          </td>
          <td>
            
          </td>
          <td class="tdBlue">
            
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             경남 
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td class="tdRed">
             0km 
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td class="tdBlue">
            
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             경북
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td class="tdRed">
             0km 
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td class="tdBlue">
            
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             전남 
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
           
          </td>
          <td>
           
          </td>
          <td>
             
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td class="tdRed">
             0km 
          </td>
          <td>
             
          </td>
          <td class="tdBlue">
            
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             전북
          </td>
          <td>
             
          </td>
          <td>
           
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
            
          </td>
          <td>
             
          </td>
          <td>
          
          </td>
          <td>
           
          </td>
          <td class="tdRed">
             0km 
          </td>
          <td class="tdBlue">
             
          </td>
        </tr>
        <tr>
          <td class="tdYellow">
             <strong>출발지</strong>
             <p class="m-0">▶</p>
          </td>
          <td class="tdYellow">
              
          </td>
          <td class="tdYellow">
             
          </td>
          <td class="tdYellow">
             
          </td>
          <td class="tdYellow">

          </td>
          <td class="tdYellow">
             
          </td>
          <td class="tdYellow">
             
          </td>
          <td class="tdYellow">
             
          </td>
          <td class="tdYellow">
            
          </td>
          <td class="tdYellow">
             
          </td>
          <td class="tdYellow last">
             
          </td>
          <td class="tdBlue">
            
          </td>
        </tr>


      </table>
      <!-- content-end -->

    </div>
    <footer>
      <div class="footer-inner">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
  </div>

</body>

</html>
