<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SKILLS LOGISTICS</title>
  <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="css/sb-admin.css" rel="stylesheet">
  <link href="js/jquery/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
  <script type="text/javascript" src="js/jquery/jquery-3.3.1/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="js/jquery/jquery-ui-1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="js/bootstrap/bootstrap.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">
      <img src="images/logo.png" alt="logo">
    </a>
    <!-- header-menu -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="col-12 text-right" style="color: #fff">
        [아이디 : admin@admin.com] / [회원구분 : 고객사]
      </div>
    </div>
  </nav>

  <!-- navigation -->
  <div class="navigation">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="로그인">
          <a class="nav-link" href="login.html">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">로그인</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="회원가입">
          <a class="nav-link" href="join.html">
            <i class="fa fa-fw fa-sign-in"></i>
            <span class="nav-link-text">회원가입</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="물류배송신청">
          <a class="nav-link" href="contract.html">
            <i class="fa fa-fw fa-pencil-square-o"></i>
            <span class="nav-link-text">물류배송신청</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="물류배송추적">
          <a class="nav-link" href="delivery.html">
            <i class="fa fa-fw fa-truck"></i>
            <span class="nav-link-text">물류배송추적</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="지입차량주POS">
          <a class="nav-link" href="manager.html">
            <i class="fa fa-fw fa-th-large"></i>
            <span class="nav-link-text">지입차량주POS</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="관리자POS">
          <a class="nav-link" href="adminpos.html">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">관리자POS</span>
          </a>
        </li>
      </ul>
  </div>

  <div class="content-wrapper">
    <div class="container-fluid p-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">홈</a>
        </li>
        <li class="breadcrumb-item active">물류배송추적</li>
      </ol>
    
      <!-- content-start -->
      <div class="card card-register mx-auto mt-5" style="max-width: 80rem">
        <div class="card-header">물류배송추적검색</div>
        <div class="card-body">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group col-12">
              <input class="form-control" type="text" placeholder="배송번호">
              <span class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-truck"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="mx-auto mt-5" style="max-width: 80rem">
        <div class="card">
          <div class="card-header">물류배송신청목록</div>
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
              <thead>
                <tr>
                  <th class="w-1">No.</th>
                  <th>배송번호</th>
                  <th>배송지역</th>
                  <th>배송상태</th>
                  <th>배송경로</th>
                  <th>배송일</th>
                  <th>배송중량</th>
                  <th>현위치</th>
                  <th>신청일자</th>
                  <th>차량정보</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="w-1">1</td>
                  <td>20181005-A101217-1234</td>
                  <td>경기</td>
                  <td>배송중</td>
                  <td>서울-충남-대전-경기</td>
                  <td>2018년 10월 06일</td>
                  <td>4톤</td>
                  <td>충남</td>
                  <td>2018년 10월 1일</td>
                  <td><a href="truck-info.html" class="btn btn-primary btn-sm">차량정보</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- content-end -->

    </div>
    <footer>
      <div class="footer-inner">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
  </div>

</body>

</html>
